@font-face {
    font-family: 'Janna';
    src: url(/Home/assets/fonts/janna/Janna-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    transition: 0.5s;
}

:root{
    --background-color: #f3f3f3 ;
    --color: #3e454c ;
}

a{
    text-decoration: none;
    color: var(--color);
}

a:hover{
    color: #6030b1;
    transition: 0.3s;
}

button{
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
}

.header{
    background-color: var(--background-color);
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0px 25px;
    font-size: 18px;
    font-family: 'Janna';
    font-weight: 700;
}


.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #6030b1;
}

.nav-right{
    display: inline-flex;
    list-style-type: none;
    flex-direction: row-reverse;
    margin: 18px 0;
    padding-left:  40px;
}

.nav-left{
    display: inline-flex;
    flex-direction: row-reverse;
    list-style-type: none;
    font-family: Janna;
    flex: 2;
    justify-content: left;
    align-items: center;
    margin: 18px 0;
    padding-left: 40px;
}

.nav-left #phone-display-phone{
    display: none;
}

.logo{
    display: flex;
    align-items: center;
}

.nav-left img{
    padding-left: 10px;
    padding-right: 5px;
    padding: 0px 0;
}

.navbar li{
    padding: 0px 10px;
    padding-bottom: 0;
}

.dark_btn{
    border: 0;
    border-radius: 25px;
    padding: 3px 5px;
    margin: auto auto;
    transition: 0.3s;
}


.dark_btn:hover{
    background-color: lightgray;
}

.navbar a:hover{
    color: #6030b1;
    transition-duration: 0.3s;
}


.signup_btn{
    border-radius: 20px;
    font-family: Janna;
    font-size: 20px;
    padding: 1px 20px;
    background-color: #6030b1;
    color: #fff;
    border: 0;
    margin: 0;
}

.signup_btn:hover{
    background-color: #2e135c;
    transition-duration: 0.5s;
}

.dash-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.dash-side-container{
    width: 20%;
    height: 100%;
    font-family: Janna;
    text-align: center;
    font-size: 20px;
    color: var(--color);
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.dash-side-list{
    border-left:  var(--color) solid 2px;
    padding-bottom: 30vh;
    width: 100%;
    list-style: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    
}

.dash-side-list li{
    padding: 5px 5px;
    padding-left: 10px;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}

.side-header{
    background-color: #6030b1;
    color: #f3f3f3;
    border-top: 2px solid var(--color);
    border-bottom: 2px solid var(--color);
    
}

.dash-side-list .side-header{
    padding: 10px 10px;
    cursor: default;
    font-size: 24px;
}

.dash-side-list li:hover{
    background-color: #6030b1;
    color: #fff
}

.dash-side-list .li.active{
    color: #fff;
    background-color: #6030b1;
}


.dashboard-content{
    border: 2px var(--color) solid;
    border-right: 0;
    width: 80%;
    height: 100%;
    margin-top: 30px;
}

.profile-head{
    width: 50%;
    margin: 50px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-head img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: #6030b1 solid 3px;
}

.profile-head h1{
    color: var(--color);
    font-size: 24px;
    font-family: Janna;
}

.user-status{
    font-family: Janna;
    font-size: 16px;
    color: #6030b1;
}

.profile-body{
    width: 50%;
    margin: 75px auto;
    display: flex;
    justify-content: space-evenly;
    font-family: Janna;
    font-size: 12px;
    direction: rtl;
    color: var(--color);
}

.profile-entry{
    display: flex;
    align-items: center;
}

.profile-entry h1{
    margin: 0 10px;
}

.profile-entry p{
    font-size: 20px;
}

.profile-footer{
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.profile-footer button{
    font-family: Janna;
    font-size: 16px;
    transition: 0.3s;
}

#edit-btn{
    border: var(--color) 3px solid;
    background-color: var(--background-color);
    color: var(--color);
    padding: 5px 25px;
    border-radius: 15px;
}

#edit-btn:hover{
    background-color: var(--color);
    color: var(--background-color);
}

#signout-btn{
    background-color: #ca1111;
    color: #f3f3f3;
    padding: 10px 30px;
    border-radius: 15px;
}

#signout-btn:hover{
    background-color: #9e0202;
}




.dark-mode{
    --background-color: #181818;
    --color: #b3b3b3;
}

/*Media*/

@media screen  and ( max-width: 800px ){

    img{
        width: 100%;
        height: auto;
    }
    
    body{
        width: 100vw;
    }

    html{
        overflow-x: hidden;
        direction: rtl;
    }


    .header{
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .hamburger{
        display: block;
        height: 50%;
        margin: auto auto;
        padding-right: 5px;
        
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar{
        display: flex;
        justify-content: space-evenly;
        box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
        flex-direction: row;
        position: fixed;
        background-color: var(--background-color);
        min-width: 100%;
        z-index: 9;
        padding: 5px 15px;
        margin: 0 auto;
    }

    .navbar img{
        width: 20%;
        height: auto;
    }

    .nav-left{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-left #phone-display-pc{
        display: none;
    }

    .nav-left #phone-display-phone{
        display: block;
        width: 10%;
    }

    .nav-left #phone-display-phone img{
        width: 70%;
        height: auto;
    }

    .nav-left button{
        font-size: 16px;
    }

    .nav-left .phone-number{
        text-align: center;
        width: 30%;
        font-size: 12px;
    }

    .nav-left img{
        width: 15%;
    }


    .nav-left li{
        direction: ltr;
        align-items: center;
    }
    

    .nav-right{
        position: fixed;
        left: -120%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: var(--background-color);
        z-index: 10;
    }

    .nav-right li{
        margin: 16px 0;
    }

    .nav-right.active{
        left: 0;
        margin: 0;
        padding-left: 0;
    }

    .dark_btn{
        width: 25px;
        height: 22px;
    }

    .dark_btn img{
        width: 15px;
        height: auto;
    }

    .nav-left #phone-display-phone{
        min-width: 25%;
        max-width: 30%;
    }

    .nav-left #phone-display-phone img{
        max-width: 50%;
    }

    .dash-container{
        flex-direction: column;
        width: 100%;
    }

    .dash-side-container{
        border: none;
        padding: 0;
        width: 100vw;
        height: 10vh;
        margin-top: 80px;
        align-items: center;
    }

    .dash-side-list{
        border: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }

    .dash-side-list li{
        padding: 10px 20px;
    }

    .side-header{
        display: none;
    }


    .dashboard-content{
        width: 100vw;
        border: none;
        margin: 0;
    }

    .profile-body{
        font-size: 12px;
        flex-direction: column;
        align-items: center;
        margin: 50px auto;
    }

    .profile-footer{
        width: 60%;
    }
}
